@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
  width: 660px;
  padding: 22% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #AF473C;
  max-width: 660px;
  margin: 0 auto 150px;
  padding: 65px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3C3C3C;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #626E60;
}
.form .message {
  margin: 15px 0 0;
  color: #;
  font-size: 12px;
}
.form .message a {
  color: AF473C;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
body {
  background: #AF473C;
  background: -webkit-linear-gradient(right, #626e60, #AF473C);
  background: -moz-linear-gradient(right, #626e60, #AF473C);
  background: -o-linear-gradient(right, #626e60, #AF473C);
  background: linear-gradient(to left, #626e60, #AF473C);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}